/* Core. */
html
{
	background-color: #2c3e50;
}

body
{
	margin: 0px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

#body, #header_user
{
	margin: 0px auto;
}

#body
{
	width: 70%;
	background-color: #bdc3c7;
}

header
{
	padding-bottom: 46px;
}

header, footer
{
	background-color: #2980b9;
}

footer
{
	color: #fff;
}

.text_padding
{
	padding: 2% 3%;
}

#header_logo
{
	width: 100%;
}

#header_user
{
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	padding: 0px 1%;
	text-align: right;
	width: auto;
	color: #fff;
	right: 15%;
	position: absolute;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

#header_user p
{
	margin: 5px 0px;
}

#header_user a
{
	margin: 0px 3%;
}

.header_user_hidden
{
	display: none;
}

#header_user:hover
{
	text-shadow: none;
	padding: 0px 0.5%;
	text-align: center;
	background: #2980b9;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 0px 2px 2px;
	border-radius: 0px 0px 0px 15px;
}

#header_user:hover .header_user_hidden
{
	display: inline;
}

.header_user_fields
{
	display: inline-block;
}

.header_center
{
	text-align: center;
	margin-bottom: 0px;
}

.product_discount
{
	color: #ff0000;
	text-decoration: line-through;
}

.nieuws_article_header
{
	margin-bottom: 0px;
}

.nieuws_article_content
{
	margin-top: 0px;
}



/* Image-related. */
.image_right
{
	float: right;
	clear: right;
	margin-left: 3%;
	margin-bottom: 3%;
	border: 3px solid #2980b9;
}



/* Per page. */
#overons
{
	min-height: 850px;
}

#overons_restaurant_interior
{
	width: 40%;
}

#overons_map
{
	width:40%;
	height:350px;
}



#webshop_producten_search
{
	width: 208px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#webshop_producten_products
{
	display: inline-block;
}

.webshop_producten_product
{
	margin: 3px 1px;
	display: inline-block;
	background-color: #2980b9;
	border-style: solid;
	border-color: #2c3e50;
	border-width: 3px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}

.webshop_producten_product_image
{
	width: 300px;
	height: 200px;
	margin: 0px;
}



#registreren_submit_button
{
	text-align: right;
}

#registreren_list_titel
{
	margin: 0px;
}

.registreren_list_value
{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	padding-right:5px;
}

#registreren_invoerlijst_left
{
	height: 300px;
	width:32%;
	display: inline-block;
 	border-style: solid;
 	border-width: 2px;
 	border-color: #2c3e50;
 	float: left;
 	border-radius: 10px 0px 0px 10px;
}

.registreren_accountgegevens
{
	padding-left: 2%;
	padding-right: 1%;
	width:95%;
	display: inline-block;
}


#registreren_invoerlijst_right
{
	height:300px;
	width:67%;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #2c3e50;
	margin: 0%;
	border-radius: 0px 10px 10px 0px;
}

#registreren_aanhef
{
	padding-left: 1%;
	padding-right: 1%;
	width:10%;
	display: inline-block;
}

.registreren_voornaamtussenv
{
	padding-left: 1%;
	padding-right: 1%;
	width:26%;
	display: inline-block;
}

#registreren_achternaam
{
	padding-left: 1%;
	padding-right: 1%;
	width:27%;
	display: inline-block;
}
#registreren_email
{
	padding-left: 1%;
	padding-right: 1%;
	width:95%;
	display: inline-block;
}

.registreren_strtnaampostcode
{
	padding-left: 1%;
	padding-right: 1%;
	width:49%;
	display: inline-block;
}

.registreren_huisnummerplaatsnaamtelefoon
{
	padding-left: 1%;
	padding-right: 1%;
	width:30%;
	display: inline-block;
}



#product_highlight
{
	width: 100%;
	text-align: center;
}

#product_big_image
{
	border-style: solid;
	border-width: 3px;
	border-color: #2c3e50;
	border-radius: 5px;
	width: 375px;
	height: 250px;
	margin: 0px;
	float: left;
	margin-right: 5px;
}

#product_highlight_title
{
	text-align: center;
	padding-left: 35%;
}

#product_highlight_options
{
	margin-left: 380px;
	margin-top: 1%;
}

.product_highlight_span
{
	padding: 0px 20px 0px 20px;
}

#product_moreproducts
{
	width: 100%;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	margin-top: 2%;
	display: inline-block;
}



#webshop_winkelwagen_header
{
	margin-top: 0px;
	text-align: center;
	display: inline-block;
}

#webshop_winkelwagen_table_main
{
	width: 100%;
}

.webshop_winkelwagen_table
{
	width: 100%;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

.webshop_winkelwagen_table th
{
	border-width: 1px;
	padding: 8px;
	color: #fff;
	border-style: solid;
	border-color: #666666;
	background-color: #2980b9;
}

.webshop_winkelwagen_table td
{
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #fff;
	text-align: center;
}

.webshop_winkelwagen_table_text
{
	padding: 8px;
}

.webshop_winkelwagen_table_images
{
	width: 300px;
	height: 200px;
	padding: 0px;
}

.webshop_winkelwagen_table_images_image
{
	width: 100%;
	height: 100%;
}

.webshop_winkelwagen_table_remove
{
	margin: auto;
	width: 50px;
	height: 50px;
	background-image: url(../images/remove_from_basket.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.webshop_winkelwagen_table_remove:hover
{
	background-image: url(../images/remove_from_basket_hover.png);
}

.webshop_winkelwagen_table_remove:active
{
	background-image: url(../images/remove_from_basket_active.png);
}

#webshop_winkelwagen_table_total
{
	display: inline;
}

#wachtwoord_vergeten
{
	text-align: center;
}

.vacatures_vacature
{
	margin-bottom: 15px;
	border-style: solid;
	border-color: #2c3e50;
	border-width: 3px;
	border-radius: 5px;
}

.vacatures_titel_vacature
{
	text-align: center;
}

.vacatures_paragraaf_vacature
{
	text-align: center;
}



/* Navigation. */
.navigation
{
	display: block;
}

.navigation li
{
	float: left; list-style: none;
}

.navigation li:hover
{
	position: relative
}

.navigation li:hover > a
{
	background: #021A1A;

	box-shadow: 5px 5px 25px #000;
	-moz-box-shadow: 5px 5px 25px #000;
	-webkit-box-shadow: 5px 5px 25px #000;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.navigation li.navigation_sub:hover > a
{
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

.navigation li a
{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 12px;
	display: block;
}

.navigation li a:hover
{
	background-color: #021A1A;
}

.navigation li ul
{
	background: #fff;
	display: none;
}

.navigation li:hover ul
{
	display:block;
	position:absolute;
}

.navigation li ul
{
	background: rgba(255,255,255,0.5);
	padding: 10px 5px;

	box-shadow: 5px 5px 25px #000;
	-moz-box-shadow: 5px 5px 25px #000;
	-webkit-box-shadow: 5px 5px 25px #000;

	border-radius: 0px 15px 15px 15px;
	-moz-border-radius: 0px 15px 15px 15px;
	-webkit-border-radius: 0px 5px 5px 5px;
}

.navigation li ul li a, .navigation li ul li a:hover
{
	background: transparent;
	color: #000;
	width: 150px;
	font-size: 0.95em;
	font-weight: normal;
}

.navigation li ul li a:hover
{
	text-decoration: underline;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;

	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}



/* Sidebar. */
#sidebar_advertisement
{
	position: fixed;
	width: 10%;
	right: 2.5%;
	top: 10%;
}

#siderbar_advertisement_image
{
	position: static;
	width: 100%;
}