body
{
	margin: 0px 40px 0px 40px;
}

p, h1
{
	margin: 0px;
}

#header
{
	height: 150px;
	background-color: #AA0000;
}

#menu
{
	position: absolute;
	width: 150px;
	background-color: #00AA00;
}

#content
{
	margin-left: 150px;
	background-color: #AAAA00;
}